.GBL-MenuItem-Iconic,
.GBL-Toolbar-Button,
.GBL-Toolbar-Button-NoLabel { list-style-image: url("chrome://googlebarlite/skin/buttonsheet.png"); }

	.GBL-Toolbar-Button-NoLabel { -moz-box-orient: vertical; }
	.GBL-Toolbar-Button-NoLabel .toolbarbutton-icon { margin-left: 2px; margin-right: 2px; }
	.GBL-Toolbar-Button-NoLabel .toolbarbutton-text { display: none; }
	.GBL-Toolbar-Button-NoLabel[type="menu"] { -moz-box-orient: horizontal; }
	.GBL-Toolbar-Button-NoLabel[type="menu"] .toolbarbutton-icon { margin-left: 0; margin-right: 5px; }

.GBL-TB-SearchWordButton .toolbarbutton-text,
.GBL-Toolbar-Button .toolbarbutton-text { display: -moz-box; }

toolbar[mode="text"] .GBL-Toolbar-Button .toolbarbutton-icon { display: -moz-box; }
toolbar[mode="text"] .GBL-Toolbar-Button-NoLabel .toolbarbutton-icon { display: -moz-box; }
toolbar[mode="text"] .GBL-Toolbar-Button-NoLabel .toolbarbutton-text { display: none; }

.GBL-Toolbar-Customize {
	display: none;
	max-width: 10em;
}

	.GBL-Toolbar-Customize .toolbarbutton-text { text-align: left; }
	toolbar[mode="icons"] .GBL-Toolbar-Customize { min-width: 20px; }
	toolbarpaletteitem[place="toolbar"] .GBL-Toolbar-Customize { display: -moz-box; }

#GBL-SearchBox {
	min-height: 22px;
	-moz-appearance: none;
	border-width: 1px;
	border-radius: 4px;
	-moz-border-top-colors: ThreeDShadow;
	-moz-border-bottom-colors: ThreeDShadow;
	-moz-border-right-colors: ThreeDShadow;
	-moz-border-left-colors: ThreeDShadow;

}

#GBL-ResizeBar {
	background-image: url("chrome://googlebarlite/skin/gripper.png");
	min-height: 20px;
	min-width: 3px;
}

#GBL-ResizeSplitter {
	background: transparent;
	border: none;
}

#GBL-TB-Customize,
#GBL-TB-MainMenu						{ -moz-image-region: rect(0px  16px 16px   0px); }

#GBL-TB-Web,
#GBL-TB-Combined-Web,
#GBL-TB-Combined[searchType="web"],
#GBL-TB-Combined						{ -moz-image-region: rect(0px  32px 16px  16px); }

#GBL-TB-Combined[searchType="lucky"],
#GBL-TB-Combined-Lucky,
#GBL-TB-Lucky							{ -moz-image-region: rect(0px  48px 16px  32px); }

#GBL-TB-Combined[searchType="site"],
#GBL-TB-Combined-Site,
#GBL-TB-Site							{ -moz-image-region: rect(0px  64px 16px  48px); }

#GBL-TB-Combined-Site[disabled="true"],
#GBL-TB-Site[disabled="true"]			{ -moz-image-region: rect(0px  80px 16px  64px); }

#GBL-TB-Combined[searchType="images"],
#GBL-TB-Combined-Images,
#GBL-TB-Images							{ -moz-image-region: rect(0px  96px 16px  80px); }

#GBL-TB-Combined[searchType="video"],
#GBL-TB-Combined-Video,
#GBL-TB-Video							{ -moz-image-region: rect(0px 112px 16px  96px); }

#GBL-TB-Combined[searchType="news"],
#GBL-TB-Combined-News,
#GBL-TB-News							{ -moz-image-region: rect(0px 128px 16px 112px); }

#GBL-TB-Combined[searchType="maps"],
#GBL-TB-Combined-Maps,
#GBL-TB-Maps							{ -moz-image-region: rect(0px 144px 16px 128px); }

#GBL-TB-Combined[searchType="groups"],
#GBL-TB-Combined-Groups,
#GBL-TB-Groups							{ -moz-image-region: rect(0px 160px 16px 144px); }

#GBL-TB-Combined[searchType="blog"],
#GBL-TB-Combined-Blog,
#GBL-TB-Blog							{ -moz-image-region: rect(0px 176px 16px 160px); }

#GBL-TB-Combined[searchType="book"],
#GBL-TB-Combined-Book,
#GBL-TB-Book							{ -moz-image-region: rect(0px 192px 16px 176px); }

#GBL-TB-Combined[searchType="scholar"],
#GBL-TB-Combined-Scholar,
#GBL-TB-Scholar							{ -moz-image-region: rect(0px 208px 16px 192px); }

#GBL-TB-Combined[searchType="dictionary"],
#GBL-TB-Combined-Dictionary,
#GBL-TB-Dictionary						{ -moz-image-region: rect(0px 224px 16px 208px); }

#GBL-TB-Combined[searchType="shopping"],
#GBL-TB-Combined-Shopping,
#GBL-TB-Shopping							{ -moz-image-region: rect(0px 320px 16px 304px); }

#GBL-TB-Combined[searchType="finance"],
#GBL-TB-Combined-Finance,
#GBL-TB-Finance							{ -moz-image-region: rect(0px 336px 16px 320px); }

#GBL-TB-UpButton						{ -moz-image-region: rect(0px 240px 16px 224px); }
#GBL-TB-UpButton[disabled="true"]		{ -moz-image-region: rect(0px 256px 16px 240px); }
#GBL-TB-Highlighter						{ -moz-image-region: rect(0px 272px 16px 256px); }
#GBL-TB-Highlighter[disabled="true"]	{ -moz-image-region: rect(0px 288px 16px 272px); }
#GBL-Overflow-Button 					{ -moz-image-region: rect(0px 304px 16px 288px); }

#GBL-TB-Combined > .toolbarbutton-menubutton-button,
#GBL-TB-UpButton > .toolbarbutton-menubutton-button {
	-moz-box-orient: horizontal;
	padding: 3px;
}

.GBL-TB-SearchWordButton {
	list-style-image: url("chrome://googlebarlite/skin/searchwordsheet.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

#palette-box #wrapper-GBL-Toolbar-MainItem .toolbarpaletteitem-box {
	height: 32px;
	width: 32px;
	background-image: url("chrome://googlebarlite/skin/logo.png");
}

#palette-box .GBL-Toolbar-Items,
toolbarpaletteitem[place="toolbar"] .GBL-Toolbar-Items { display: none; }

#GBL-TB-Toggle-Toolbar {
	-moz-image-region: rect(0px 24px 24px 0px);
	list-style-image: url("chrome://googlebarlite/skin/toggle_large.png");
}

toolbar[iconsize="small"] #GBL-TB-Toggle-Toolbar {
	-moz-image-region: rect(0px 16px 16px 0px);
	list-style-image: url("chrome://googlebarlite/skin/toggle_small.png");
}

.GBL-Indent { margin-left: 2em; }
#GBL-Options caption { font-weight: bold; }

