#GBL-SearchBox {
	-moz-appearance: none;
	border: 1px solid ThreeDShadow;
	border-radius: 2px;
}

@media (-moz-windows-default-theme) {
	#GBL-SearchBox {
		border-color: rgba(0,0,0,0.32);
	}
	
	#GBL-SearchBox > .autocomplete-textbox-container {
		-moz-box-align: stretch;
	}
	
	#GBL-SearchBox:not(:-moz-lwtheme) {
		border-color: hsla(210,54%,20%,.35) hsla(210,54%,20%,.37) hsla(210,54%,20%,.4);
	}
	
	#GBL-SearchBox:not(:-moz-lwtheme):not([focused]):hover {
		border-color: hsla(210,54%,20%,.45) hsla(210,54%,20%,.47) hsla(210,54%,20%,.5);
	}
	
	#GBL-SearchBox:not(:-moz-lwtheme)[focused] {
		border-color: hsla(206,100%,60%,.65) hsla(206,100%,55%,.65) hsla(206,100%,50%,.65);
	}
	
	#GBL-Splitter {
		margin-right: 4px;
	}
}
