@media (-moz-windows-default-theme) {
	#GBL-SearchBox {
		-moz-appearance: none;
		border: 1px solid ThreeDShadow;
		border-radius: 2px;
	}
	
	#GBL-SearchBox > .autocomplete-textbox-container {
		-moz-box-align: stretch;
	}
	
	#GBL-SearchBox:not(:-moz-lwtheme) {
		border-color: hsla(210,54%,20%,.25) hsla(210,54%,20%,.27) hsla(210,54%,20%,.3);
	}
	
	#GBL-SearchBox:not(:-moz-lwtheme):not([focused]):hover {
		border-color: hsla(210,54%,20%,.35) hsla(210,54%,20%,.37) hsla(210,54%,20%,.4);
	}
	
	#GBL-SearchBox:not(:-moz-lwtheme)[focused] {
		border-color: hsla(206,100%,60%,.65) hsla(206,100%,55%,.65) hsla(206,100%,50%,.65);
	}
}
